altair
asttokens
attrs
backcall
backports.functools-lru-cache
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cvxopt
cvxpy
cycler
debugpy
decorator
ecos
executing
fonttools
gitdb
GitPython
idna
importlib-metadata
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
nest-asyncio
numpy
osqp
packaging
pandas
parso
patsy
pickleshare
Pillow
platformdirs
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pydeck
Pygments
Pympler
pyparsing
pyportfolioopt
python-dateutil
pytz
pytz-deprecation-shim
pyzmq
qdldl
referencing
requests
rich
rpds-py
scikit-learn
scipy
scs
six
smmap
stack-data
statsmodels
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
zipp